<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Вам обновили пароль на WaterBoom.ru</h3>
    <hr>
    <p>Теперь ваш пароль:</p>
    <p>
      <b><%= @pass %></b>
    </p>
  </body>
</html>