<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Добро пожаловать на WaterBoom.ru</h1><br/>

    <p>Теперь вы можете заказать у нас воду в офис или к себе домой</p>
    <br/>
    <p>
      Ваши регистрационные данные: <br/>
      email : <%= @user.email %> <br/>
      пароль : <%= @pass %> <br/>
    </p>
  </body>
</html>