<form id="form-login" class="app-form" action="/session/create_session" method="post" onsubmit="return submit_func()">

  <div class="form-field">
    <div class="form-label">
      <label for="email">E-mail:</label>
    </div>
    <div class="form-data">
      <input class="input-text" type="text" name="email" id="email">
    </div>
  </div>
  <div class="form-field">
    <div class="form-label">
      <label for="password">Пароль: </label>
    </div>
    <div class="form-data">
      <input class="input-text" type="password" name="password" id="password" onkeydown="if (event.keyCode == 13) {$('#form-login').submit()}">
    </div>
  </div>
  <div class="form-field form-btns">
    <div class="form-data">
      <a class="btn btn-blue" href="javascript:void(0)" onclick="$('#form-login').submit()">Войти</a>
      <a href="javascript: void(0)" class="forgot-link" onclick="w.session.popupRecover()">забыли пароль?</a>
    </div>
  </div>
</form>
<script type="text/javascript">
  submit_func = function(){
      var u_emailO = $("#email"),
          u_passO = $("#password"),
          u_emailV = u_emailO.val(),
          u_passV = u_passO.val();
      if(u_emailV.length < 1 || u_passV.length < 1){
          alert("Незаполнены поля E-mail или пароля");
          return false;
      }

      w.session.login({email: u_emailV, password: u_passV});

      return false;
  }
</script>
